<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>

<div th:if="${#lists.size(users) == 1}">
    <h2 th:text="${user.name}"></h2>
    <form th:action="@{/users/{userId}(userId=${user.userId})}" method="post">
        <div>
            Username: <input type="text" th:field="${user.username}"/>
        </div>
        <div>
            Password: <input type="password" th:field="${user.password}"/>
        </div>
        <div>
            Full Name: <input type="text" th:field="${user.name}"/>
        </div>
        <hr>
        <div>
            Address Line 1: <input type="text" th:field="${user.address.addressLine1}"/>
        </div>
        <div>
            Address Line 2: <input type="text" th:field="${user.address.addressLine2}"/>
        </div>
        <div>
            City: <input type="text" th:field="${user.address.city}"/>
        </div>
        <div>
            Region: <input type="text" th:field="${user.address.region}"/>
        </div>
        <div>
            Country: <input type="text" th:field="${user.address.country}"/>
        </div>
        <div>
            Zip Code: <input type="text" th:field="${user.address.zipCode}"/>
        </div>
        <br>
        <div>
            <input type="submit" value="Update account"/>
        </div>
        <input type="hidden" th:field="${user.accounts}"/>
    </form>
    
    <br>
    <form th:action="@{/users/{userId}/delete(userId=${user.userId})}" th:object="${account}" method="post">
        <input type="submit" value="Delete account"/>
    </form>
    <hr>
    <h3>Accounts</h3>
    <div th:each="account : ${user.accounts}">
        <a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}"
           th:text="${account.accountName}"></a>
    </div>
	
    <form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" method="post">
        <br>
        <input type="submit" value="Create new bank account"/>
    </form>
   
    <div>
        <br>
        <a th:href="@{/users}">Back</a>
        <br>
    </div>
</div>

<div th:unless="${#lists.size(users) == 1}">
    <h1>Users</h1>
    <div th:each="user : ${users}">
					<span th:inline="text"><a th:href="@{/users/{userId}(userId=${user.userId})}">
					[[${user.userId}]]</a></span><br>
        <span th:text="${user.username}"></span><br/>
        <span th:text="${user.name}"></span><br/>
        <span th:text="${user.password}"></span>
        <div th:each="account : ${user.accounts}">
						<span th:inline="text"><a
                                th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId},accountId=${account.accountId})}">
						[[${account.accountName}]]</a></span>
        </div>
        <hr>
    </div>
</div>


</body>
</html>